@import url("fonts.css");
@import url("reset.css");
body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.61;
    color: #9C9C9C;
}

.wrapper {
    overflow: clip;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

[class*="__container"] {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.page__achivments {
    padding: 100px 0;
}

.achivments__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
    margin-bottom: 40px;
    column-gap: 26px;
    display: inline-flex;
}

.achivments__title::after {
    content: "";
    align-self: center;
    width: 464px;
    height: 2px;
    background-color: #000000;
}

.achivments__items {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.item-achivments {
    display: flex;
}

.item-achivments__image {
    flex: 0 0 62.17%;
    overflow: hidden;
}

.item-achivments__image>img {
    max-width: 100%;
    transition: all 0.4s;
}

.item-achivments__image:hover>img {
    transform: scale(1.02);
}

.item-achivments__info {
    flex: 0 0 37.83%;
    padding-left: 120px;
    align-self: center;
}

.item-achivments__info>*:not(:last-child) {
    margin-bottom: 20px;
}

.item-achivments__link-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.42;
    color: #333333;
    transition: color 0.4s;
    display: inline-flex;
    position: relative;
}

.item-achivments__link-title:hover {
    color: #9C9C9C;
}

.item-achivments__link-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #9C9C9C;
    transition: width 0.4s;
}

.item-achivments__link-title:hover::after {
    width: 100%;
}

.minimalists-room {
    padding-bottom: 100px;
}

.minimalists-room__title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.4;
    color: #000000;
    margin-bottom: 40px;
    text-align: center;
}

.minimalists-room__subtitle {
    color: #000000;
    max-width: 520px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 53px;
}

.minimalists-room__image {
    text-align: center;
    margin-bottom: 100px;
}

.minimalists-room__image>img {
    max-width: 100%;
}

.info {
    display: flex;
    margin: 0 -16px;
    column-gap: 30px;
    margin-bottom: 80px;
}

.info__item {
    flex: 0 1 50%;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    row-gap: 24px;
}

.info__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.4;
    color: #333333;
}

.info__text {
    flex-grow: 1;
}

.info__text>p:not(:last-child) {
    margin-bottom: 30px;
}

.info__details {
    justify-self: end;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -32px;
    row-gap: 32px;
}

.gallery__box-item {
    flex: 0 0 50%;
    padding: 0 16px;
}

.gallery__item {
    text-align: center;
}

.gallery__item>img {
    width: 100%;
}

.gallery__box-item_big {
    flex: 0 0 100%;
}