            @import url("fonts.css");
            @import url("reset.css");
            body {
                font-family: "Inter", sans-serif;
                font-weight: 500;
                font-size: 16px;
                line-height: 1.5;
                color: #637381;
            }

            .wrapper {
                overflow: clip;
                min-height: 100%;
                display: flex;
                flex-direction: column;
            }

            .wrapper>main {
                flex-grow: 1;
            }

            [class*="__container"] {
                max-width: 1200px;
                padding: 0 15px;
                margin: 0 auto;
            }

            .title {
                font-weight: 700;
                font-size: 40px;
                line-height: 1.125;
                color: #212B36;
                margin-bottom: 15px;
            }

            @media (max-width:590px) {
                .title {
                    font-size: 28px;
                }
            }

            .subtitle {
                max-width: 490px;
            }

            .header {
                padding: 80px 0;
            }

            @media(max-width:991.98px) {
                .header {
                    padding: 50px 0;
                }
            }

            @media(max-width:767.98px) {
                .header {
                    padding: 30px 0;
                }
            }

            .header__title {
                padding: 0 5px;
                text-transform: uppercase;
                max-width: 290px;
                margin: 0 auto 30px;
                text-align: center;
                text-shadow: 10px 5px 10px rgba(24, 52, 141, 0.5);
                box-shadow: 10px 5px 10px rgba(90, 92, 99, 0.5);
                border-radius: 20px;
                animation-name: title;
                animation: title infinite 3s ease-in alternate-reverse;
                cursor: pointer;
            }

            @keyframes title {
                30% {
                    transform: translateY(20px);
                    color: #3056D3;
                }
                50% {
                    color: #13C296;
                }
                70% {
                    color: #212B36;
                }
                100% {
                    transform: translateY(-50px);
                }
            }

            @media (max-width:767.98px) {
                .header__title {
                    max-width: 230px;
                }
                @keyframes title {
                    30% {
                        transform: translateY(20px);
                        color: #3056D3;
                    }
                    50% {
                        color: #13C296;
                    }
                    70% {
                        color: #212B36;
                    }
                    100% {
                        transform: translateY(-25px);
                    }
                }
            }

            @media (any-hover: hover) {
                .header__title:hover {
                    animation-play-state: paused;
                }
            }

            .header__container {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 30px;
            }

            .header__card {
                position: relative;
                cursor: pointer;
                transition: box-shadow 0.3s;
                min-height: 230px;
                padding-top: 40px;
                padding-left: 40px;
            }

         .header__card_big{
                grid-row: span 2;
            }

            .header__link-category {
                display: inline-block;
                color: #212B36;
                position: relative;
                margin-bottom: 12px;
            }

            .header__title-category {
                max-width: 362px;
            }

            @media (max-width:1100px) {
                .header__container {
                    gap: 15px;
                }

                .header__card {
            min-height: min(230px, 19vw);
                    padding-left: 20px;
                    padding-top: 20px;
                }
                  .header__title-category {
            max-width: 262px;
            }
          }
              @media (max-width:835px){
                      .header__title-category {
                         max-width: 235px;
            }
            }
                 @media (max-width:767.98px){
               .header__container {
                grid-template-columns: repeat(1 , 1fr );
                    gap: 15px;
                }
                       .header__card {
                 min-height: min(230px, 35vw);

            }
                   .header__card_big {
                    min-height: min(590px, 75vw);
                }

          }
                @media (max-width:479.98px){
            .header__link-category {
              font-size: 14px;
                margin-bottom: 6px;
            }
          }
                   @media (max-width:390.98px){
               .header__title-category {
                         max-width: 165px;
            }
                .header__link-category {
              font-size: 12px;

            }
          }

            @media (any-hover: hover) {
                .header__card:hover {
                    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
                }
            }

            .header__image {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .image {
                position: relative;
                display: block;
                overflow: hidden;
            }

            .image>img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: transform 0.3s;
            }

            @media (any-hover: hover) {
                .image:hover img {
                    transform: scale(1.04);
                }
            }

            .header__link-category,
            .header__link-title {
                transition: color 0.4s;
            }

            .header__link-title {
                position: relative;
                color: #212B36;
                font-weight: 600;
                font-size: 28px;
                line-height: 1.25;
                max-width: 372px;
            }

            @media (max-width:1100px) {
                .header__link-title {
                    font-size: 18px;
                }
            }
                    @media (max-width:479.98px){
            .header__link-title  {
               font-size: 16px;
            }
          }
                     @media (max-width:390.98px){
            .header__link-title  {
               font-size: 12px;
            }
          }

            @media (any-hover: hover) {
                .header__link-category:hover,
                .header__link-title:hover {
                    color: #3056D3;
                }
                .header__card:hover>.header__image img {
                    transform: scale(1.04);
                }
            }

            .page__latest-products,
            .page__trending-products,
            .page__collection,
            .page__featured,
            .page__shop,
            .page__top-collection,
            .page__dananz {
                padding-bottom: 120px;
            }

            .page__latest-products,
            .page__trending-products {
                padding-top: 120px;
            }

            .page__latest-products {
                background-color: #FAFAFA;
            }

            .top {
                max-width: 510px;
                margin: 0 auto 70px;
                text-align: center;
            }

            .top-shop {
                display: flex;
                flex-wrap: wrap;
                gap: 20px;
                justify-content: space-between;
                align-items: flex-end;
                margin-bottom: 70px;
            }

            .dananz__content {
                font-family: "Poppins", sans-serif;
                font-weight: 400;
                font-size: 18px;
                line-height: 1.61;
                color: #9C9C9C;
                margin-bottom: 82px;
            }

            .products-latest__items {
                margin-bottom: 40px;
            }

            @media(min-width:795.98px) {
                .products-latest__items {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 30px;
                }
            }

            @media(min-width:1050px) {
                .products-latest__items {
                    grid-template-columns: repeat(3, 1fr);
                }
            }

            @media(max-width:991.98px) {
                .page__latest-products,
                .page__trending-products,
                .page__collection,
                .page__featured,
                .page__shop,
                .page__top-collection,
                .page__dananz {
                    padding-bottom: 60px;
                }
                .page__latest-products,
                .page__trending-products {
                    padding-top: 60px;
                }
                .top,
                .top-shop,
                .dananz__content {
                    margin-bottom: 50px;
                }
            }

            @media(max-width:796px) {
                .products-latest__items {
                    margin-bottom: 20px;
                }
                .products-latest__items>*:not(:last-child) {
                    margin-bottom: 15px;
                }
                .page__latest-products,
                .page__trending-products,
                .page__collection,
                .page__featured,
                .page__shop,
                .page__top-collection,
                .page__dananz {
                    padding-bottom: 30px;
                }
                .page__latest-products,
                .page__trending-products {
                    padding-top: 30px;
                }
                .top,
                .top-shop,
                .dananz__content {
                    margin-bottom: 30px;
                }
            }

            .products-latest__item {
                display: flex;
                flex-direction: column;
                min-height: 100%;
                overflow: hidden;
                border: 1px solid #e7e7e7;
                border-radius: 7px;
            }

            .products-latest__image {
                padding-bottom: 78.8%;
            }

            .products-latest__info-item {
                flex-grow: 1;
                padding: 25px;
                border-bottom: 1px solid #e7e7e7;
            }

            .products-latest__info-item>*:not(:last-child) {
                margin-bottom: 15px;
            }

            .products-latest__link-title {
                font-weight: 600;
                font-size: 20px;
                line-height: 1.3;
                color: #212B36;
                transition: color 0.3s;
            }

            @media (any-hover: hover) {
                .products-latest__link-title:hover,
                .item-trending__link-title:hover {
                    color: #3056D3;
                }
            }

            .products-latest__form {
                padding-left: 25px;
                display: inline-flex;
                flex-wrap: wrap;
                gap: 8px;
                align-items: center;
            }

            .latest-rating,
            .trending-rating {
                position: relative;
                font-size: 26px;
                display: inline-block;
            }

            .latest-rating::before,
            .trending-rating::before {
                content: "★★★★★";
                display: block;
            }

            .latest-rating__items,
            .trending-rating__items {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                display: flex;
                flex-direction: row-reverse;
                overflow: hidden;
            }

            .latest-rating__item,
            .trending-rating__item {
                position: absolute;
                width: 0%;
                height: 0%;
                top: 0;
                left: 0;
                opacity: 0;
                visibility: hidden;
            }

            .latest-rating__label,
            .trending-rating__label {
                flex: 0 0 20%;
                height: 100%;
                cursor: pointer;
            }

            .latest-rating__label::before,
            .trending-rating__label::before {
                content: "★";
                display: block;
                transition: color 0.3s;
            }

            .latest-rating__item:checked,
            .trending-rating__item:checked,
            .latest-rating__item:checked~.latest-rating__label,
            .trending-rating__item:checked~.trending-rating__label {
                color: #FFA645;
            }

            .latest-rating__label:hover,
            .trending-rating__label:hover,
            .trending-rating__label:hover~.trending-rating__label,
            .latest-rating__label:hover~.latest-rating__label,
            .latest-rating__label:checked~.latest-rating__label:hover,
            .trending-rating__label:checked~.trending-rating__label:hover {
                color: #e2db15;
            }

            .products-latest__link,
            .item-trending__link {
                transition: color 0.3s;
            }

            .products-latest__link {
                transform: translateY(2px);
            }

            @media (any-hover: hover) {
                .latest-rating__link:hover,
                .trending-rating__link:hover {
                    color: #3056D3;
                }
            }

            .products-latest__price {
                padding: 15px 20px 15px 10px;
                font-weight: 600;
                color: #212B36;
            }

            @media (max-width:400px) {
                .products-latest__price {
                    padding: 15px 25px;
                }
            }

            @media (min-width:399.98px) {
                .products-latest__details-item {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    column-gap: 10px;
                }
                .products-latest__form {
                    flex: 1 0 auto;
                    border-right: 1px solid #e7e7e7;
                }
            }

            .arrows-latest {
                margin: 0 auto;
                width: 84px;
                height: 42px;
                border-radius: 23px;
                border: 1px solid #e7e7e7;
                display: flex;
                align-items: center;
                justify-content: space-around;
            }

            .arrows-latest__left,
            .arrows-latest__right {
                width: 30px;
                height: 30px;
                border: 1px solid #e7e7e7;
                border-radius: 50%;
                cursor: pointer;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                transition: background-color 0.3s;
            }

            .arrows-latest__right {
                transform: rotate(180deg);
            }

            .arrows-latest__left::before,
            .arrows-latest__right::before {
                content: "";
                width: 11px;
                height: 9px;
                background: url("../img/icons/arrow-left.svg") no-repeat;
            }

            .arrows-latest__left::before {
                background: url("../img/icons/arrow-left.svg") no-repeat;
            }

            @media (any-hover: hover) {
                .arrows-latest__left:hover,
                .arrows-latest__right:hover {
                    background-color: #3056D3;
                }
                .arrows-latest__left:hover {
                    transform: rotate(180deg);
                }
                .arrows-latest__right:hover {
                    transform: rotate(0deg);
                }
                .arrows-latest__left:hover.arrows-latest__left::before,
                .arrows-latest__right:hover.arrows-latest__right::before {
                    background: url("../img/icons/arrow-right.svg") no-repeat;
                }
            }

            @media (min-width:579.98px) {
                .products-trending__items {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    border: 1px solid #e7e7e7;
                    border-radius: 10px;
                    overflow: hidden;
                }
            }

            @media (min-width:991.98px) {
                .products-trending__items {
                    grid-template-columns: repeat(3, 1fr);
                }
            }

            .item-trending {
                padding: 25px 25px 40px 25px;
   border-right: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    margin-right: -1px;
    margin-bottom: -1px;
            }

            @media (max-width:580px) {
                .item-trending {
                    border-radius: 10px;
                }
                .item-trending:not(:last-child) {
                    margin-bottom: 15px;
                }
            }

            .item-trending__image {
                border-radius: 6px;
                padding-bottom: 76.47%;
                margin-bottom: 24px;
            }

            .item-trending__info>*:not(:last-child) {
                margin-bottom: 10px;
            }

            .item-trending__price {
                font-weight: 600;
                font-size: 20px;
                line-height: 1.3;
                color: #212B36;
            }

            .item-trending__info .item-trending__title {
                margin-bottom: 8px;
            }

            .item-trending__link-title {
                font-weight: 600;
                font-size: 24px;
                line-height: 1.25;
                color: #212B36;
            }

            .item-trending__form {
                display: inline-flex;
                flex-wrap: wrap;
                gap: 10px;
                align-items: flex-end;
            }

            .item-trending__link {
                transform: translateY(-5px);
            }

            @media (max-width:1199.98px) {
                .item-trending {
                    padding: 15px 15px 30px 15px;
                }
                .item-trending__price {
                    font-size: 16px;
                }
                .item-trending__link-title {
                    font-size: 20px;
                }
            }

            .item-trending__link,
            .item-trending__link-title {
                transition: color 0.3s;
            }

            .info {
                font-weight: 600;
                font-size: 18px;
                line-height: 1.33;
                margin-bottom: 8px;
                color: #3056D3;
            }

            @media (max-width:480px) {
                .gallery-collection>.gallery-collection__item:not(:last-child) {
                    margin-bottom: 30px;
                }
            }

            @media (min-width:479.98px) {
                .gallery-collection {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 30px;
                }
            }

            @media (min-width:799.98px) {
                .gallery-collection {
                    grid-template-columns: repeat(3, 1fr);
                }
            }

            @media (min-width:1067.98px) {
                .gallery-collection {
                    grid-template-columns: repeat(4, 1fr);
                }
            }

            .item-collection__image {
                border-radius: 5px;
                margin-bottom: 20px;
                padding-bottom: 111.11%;
            }

            .item-collection__info {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                column-gap: 30px;
                row-gap: 5px;
                margin-bottom: 4px;
            }

            .item-collection__title {
                min-width: 182px;
            }

            .item-collection__link-title {
                font-weight: 600;
                font-size: 20px;
                line-height: 1.3;
                color: #212B36;
            }

            .item-collection__price {
                font-weight: 700;
                color: #3056D3;
            }

            .item-collection__link-description,
            .item-collection__link-title {
                transition: color 0.3s;
            }

            @media (any-hover: hover) {
                .item-collection__link-description:hover,
                .item-collection__link-title:hover,
                .item-featured__link-title:hover {
                    color: #3056D3;
                }
            }

            .featured__items {
                display: grid;
                grid-template-columns: 40.171% auto 40.171%;
                gap: 30px;
            }

            .item-featured {
                border-radius: 8px;
                border: 1px solid #e7e7e7;
                overflow: hidden;
            }

            .item-featured__top {
                position: relative;
            }

            .item-featured__image {
                padding-bottom: 52.245509%;
            }

            @media (min-width:660px) {
                .item-featured:nth-child(2) .item-featured__image,
                .item-featured:nth-child(3) .item-featured__image {
                    padding-bottom: 74.57265%;
                }
                .item-featured:nth-child(4n+1),
                .item-featured:nth-child(4n+4) {
                    grid-column: span 2;
                }
            }

            .item-featured__buttons {
                position: absolute;
                bottom: 30px;
                left: 30px;
                display: inline-flex;
                column-gap: 12px;
                visibility: hidden;
                pointer-events: none;
                opacity: 0;
                transition: all 0.4s;
            }

            .item-featured__button {
                width: 36px;
                height: 36px;
                background-color: #fff;
                border-radius: 5px;
                border: 1px solid rgba(0, 0, 0, 0.14);
                display: flex;
                align-items: center;
                justify-content: center;
                transition: background-color 0.3s;
            }

            @media (any-hover: hover) {
                .item-featured__image:hover+.item-featured__buttons {
                    visibility: visible;
                    pointer-events: all;
                    opacity: 1;
                }
                .item-featured__buttons:hover {
                    visibility: visible;
                    pointer-events: all;
                    opacity: 1;
                }
                .item-featured__image:hover img {
                    transform: none;
                }
                .item-featured__button:hover {
                    background-color: rgba(48, 86, 211, 0.45);
                }
            }

            .item-featured__info {
                font-weight: 600;
                padding: 30px;
            }

            .item-featured__info>*:not(:last-child) {
                margin-bottom: 10px;
            }

            .item-featured__details {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                gap: 10px;
            }

            .item-featured__discount {
                color: #3056D3;
            }

            .item-featured__link-title {
                font-size: 28px;
                line-height: 1.25;
                color: #212B36;
                transition: color 0.3s;
            }

            .item-featured__prices {
                display: inline-flex;
                column-gap: 10px;
            }

            .item-featured__price-old {
                text-decoration: line-through;
                color: #B1B4B7;
                font-size: 18px;
                line-height: 1.33;
            }

            .item-featured__price {
                color: #212B36;
                font-size: 18px;
                line-height: 1.33;
            }

            @media (max-width:991.98px) {
                .item-featured__buttons {
                    visibility: visible;
                    pointer-events: all;
                    opacity: 1;
                }
                .item-featured__info {
                    padding: 15px;
                }
                .featured__items {
                    gap: 15px;
                }
                .item-featured__link-title {
                    font-size: 22px;
                }
                .item-featured__buttons {
                    position: absolute;
                    bottom: 15px;
                    left: 15px;
                }
            }

            @media (max-width:767.98px) {
                .item-featured__link-title {
                    font-size: 20px;
                }
                .item-featured__price,
                .item-featured__price-old {
                    font-size: 16px;
                }
            }

            @media (max-width:659.98px) {
                .featured__items {
                    grid-template-columns: 1fr;
                }
                .item-featured__image {
                    padding-bottom: 74.57265%;
                }
            }

            @media (max-width:479.98px) {
                .item-featured__link-title {
                    font-size: 18px;
                }
                .item-featured__info {
                    padding: 10px;
                    font-size: 14px;
                }
            }

            .top-shop__content {
                max-width: 510px;
            }

            .top-shop__title {
                font-weight: 700;
                font-size: 36px;
                line-height: 1.25;
                margin-bottom: 15px;
                color: #212B36;
            }

            .top-shop__link {
                font-weight: 600;
                color: #3056D3;
                padding: 8px 30px;
                border: 1px solid #3056D3;
                border-radius: 4px;
                transition: all 0.3s;
            }

            .shop__items {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 30px;
            }

            .shop__item {
                padding: 12px 12px 25px 12px;
                border-radius: 12px;
                border: 1px solid #e7e7e7;
            }

            .item-shop__image {
                border-radius: 8px;
                padding-bottom: 66.4%;
                margin-bottom: 25px;
            }

            .item-shop__info {
                font-weight: 600;
            }

            .item-shop__info>*:not(:last-child) {
                margin-bottom: 5px;
            }

            .item-shop__category {
                display: inline-block;
                transition: color 0.3s;
            }

            .item-shop__link-title {
                font-size: 24px;
                line-height: 1.25;
                color: #212B36;
                transition: color 0.3s;
            }

            @media (any-hover: hover) {
                .top-shop__link:hover {
                    color: #fff;
                    background-color: #3056D3;
                }
                .item-shop__category:hover,
                .item-shop__link-title:hover {
                    color: #3056D3;
                }
            }

            @media (max-width:1000px) {
                .shop__items {
                    gap: 15px;
                }
                .item-shop__link-title {
                    font-size: 20px;
                }
            }

            @media (max-width:820px) {
                .shop__items {
                    grid-template-columns: repeat(2, 1fr);
                }
            }

            @media (max-width:590px) {
                .shop__items {
                    grid-template-columns: 1fr;
                }
                .top-shop__title {
                    font-size: 26px;
                }
            }

            .top-collection__items {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
                gap: 30px;
            }

            .item-top-collection__image {
                border-radius: 5px;
                padding-bottom: 92.59%;
                margin-bottom: 20px;
            }

            .top-collection__info {
                font-weight: 600;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .top-collection__link-title {
                font-size: 20px;
                color: #212B36;
                margin-bottom: 5px;
                transition: color 0.3s;
            }

            .top-collection__prices {
                display: inline-flex;
                column-gap: 10px;
                margin-bottom: 20px;
            }

            .top-collection__old-price {
                text-decoration: line-through;
            }

            .top-collection__price {
                color: #212B36;
            }

            .top-collection__link {
                padding: 8px 20px;
                color: #212B36;
                border: 1px solid #212B36;
                border-radius: 4px;
                transition: all 0.3s;
            }

            @media (any-hover: hover) {
                .top-collection__link-title:hover {
                    color: #3056D3;
                }
                .top-collection__link:hover {
                    color: #fff;
                    background-color: #212B36;
                }
            }

            @media(max-width:767.98px) {
                .top-collection__items {
                    gap: 15px;
                }
            }

            @media (min-width:768px) {
                .dananz__content {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 32px;
                }
                .dananz__column {
                    display: flex;
                    flex-direction: column;
                    min-height: 100%;
                }
            }

            .dananz__title {
                font-weight: 600;
                font-size: 24px;
                line-height: 1.42;
                color: #333333;
                margin-bottom: 24px;
            }

            .dananz__text {
                flex-grow: 1;
            }

            .dananz__text>p:not(:last-child) {
                margin-bottom: 30px;
            }

            .dananz__info {
                display: flex;
                flex-wrap: wrap;
                column-gap: 80px;
                row-gap: 10px;
            }
              .dananz__image {
                padding-bottom: 87.842466%;
            }


            @media (min-width:590px) {
                .dananz__gallery {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 32px;
                }
                .dananz__image_big {
                    grid-column: span 2;
                    padding-bottom: 42.75%;
                }
            }


            @media (any-hover: hover) {
                .dananz__image:hover img {
                    transform: none;
                }
            }

            @media (max-width:767.98px) {
                .dananz__gallery {
                    gap: 16px;
                }
                .dananz__text_left {
                    margin-bottom: 15px;
                }
                .dananz__text>p:not(:last-child) {
                    margin-bottom: 15px;
                }
                .dananz__column:not(:last-child) {
                    margin-bottom: 24px;
                }
                .dananz__content {
                    font-size: 16px;
                }
            }

            @media (max-width:589.98px) {
                .dananz__image:not(:last-child) {
                    margin-bottom: 15px;
                }
            }