@import url("fonts.css");
@import url("reset.css");
body {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #212529;
}

[class*="__container"] {
    max-width: 1270px;
    padding: 0 15px;
    margin: 0 auto;
}

.title {
    font-size: 25px;
    font-weight: 700;
    line-height: 1.6;
    color: #212529;
    max-width: 440px;
    margin-bottom: 45px;
}

.logo {
    color: #212529;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.38;
}

.header {
    padding: 37px 0;
    font-size: 12px;
    font-weight: 500;
    line-height: 2;
}

.header__container {
    display: flex;
    justify-content: space-between;
}

span {
    color: #DDBEA9;
}

.header__list {
    display: flex;
    column-gap: 25px;
    min-height: 30px;
}

.actions {
    display: flex;
    column-gap: 25px;
    align-items: center;
}

.actions img {
    vertical-align: middle;
}

.menu__link,
.actions__link {
    transition: all 0.8s;
    opacity: 0.5;
    color: #495057;
    transition: all 0.8s;
}

.menu__link:hover,
.actions__link:hover {
    opacity: 1;
}

.menu__link::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #DDBEA9;
    opacity: 0;
    transition: all 0.8s;
}

.menu__link:hover::after {
    content: "";
    opacity: 1;
}

.main-block {
    padding-bottom: 100px;
    color: #E5E5E5;
}

.main-block__container {
    min-height: 500px;
    background: url("../img/background.webp") 15px 0 / contain no-repeat;
    text-align: center;
    padding-top: 192px;
    border-radius: 5px;
}

.main-block__container>* {
    margin-bottom: 15px;
}

.main-block__title {
    font-size: 25px;
    margin: 0 auto 130px;
    color: #F8F9FA;
}

.main-block__numbers {
    font-size: 12px;
    font-weight: 300;
    line-height: 1.67;
    letter-spacing: 2.4px;
    color: #E5E5E5;
    padding-left: 55px;
}

.main-block__numbers::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 45px;
    height: 0.5px;
    background-color: #F8F9FA;
    margin-right: 10px;
}

.gallery__box {
    display: flex;
    column-gap: 200px;
}

.gallery__list {
    display: flex;
    align-items: center;
    column-gap: 25px;
}

.list-gallery__link {
    font-size: 12px;
    font-weight: 500;
    line-height: 2.08;
    color: #C4C4C4;
    transition: 0.8s all;
}

.list-gallery__link:hover {
    color: #495057;
}

.gallery__items {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    column-gap: 30px;
    row-gap: 40px;
    padding-bottom: 100px;
}

.item-gallery__image {
    display: inline-block;
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 30px;
}

.image-info__date {
    font-weight: 300;
    color: #495057;
    margin-bottom: 15px;
}

.image-info__title {
    font-size: 16px;
    line-height: 1.56;
    color: #212529;
}

.trending {
    padding-bottom: 100px;
}

.trending__gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(315px, 1fr));
    column-gap: 30px;
}

.footer {
    background-color: #212529;
    color: #F8F9FA;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    padding: 100px 0 40px;
    border-bottom: 1px solid rgba(229, 229, 229, 0.2);
}

.footer__logo {
    color: #F8F9FA;
}

.footer__menu {
    display: flex;
    column-gap: 25px;
}

.footer__bottom {
    padding: 40px 0 100px;
    display: flex;
    justify-content: space-between;
}