.footer {

background-color: #212529;

  &__container {
color: $whitecolor;

  }
  &__top,
  &__bottom{
    padding: rem(15) rem(0) rem(15) rem(0);
   display: flex;
   flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    column-gap: rem(20);
    row-gap: rem(10);
  }

  &__top {
   min-height: rem(105);
   border-bottom: 1px solid rgba(229, 229, 229, 0.2);
   @media (max-width: 25.936em){
    justify-content: center;
   }
  }

  &__logo {

  }

  &__menu {}

  &__bottom {
      min-height: rem(100);
        @media (max-width: 24.874em) {
            justify-content: center;
          }
  }

  &__adress,
  &__copy {
    opacity: 0.5;

  }

  &__adress{

  }

  &__copy {}
}

.menu-footer {
display: flex;
flex-wrap: wrap;
column-gap: rem(25);
row-gap: rem(5);
justify-content: center;

  &__item {}

  &__link {
    opacity: 0.5;
        transition: opacity 0.3s;
        @media (any-hover: hover) {
            &:hover {
              opacity: 1;
            }
          }
  }
}